<!-- Navbar -->
<nav class="navbar navbar-expand navbar-white navbar-light main-header">

  <!-- SEARCH FORM -->
  <form class="form-inline ml-3" [formGroup]="searchForm">
    <div class="input-group input-group-sm">
      <input
        class="form-control form-control-navbar"
        type="search"
        style="width: 200px"
        placeholder="Search"
        aria-label="Search"/>

      <div class="input-group-append">
        <button class="btn btn-navbar" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </form>

</nav>
<!-- /.navbar -->
