<div class="wrapper">
  <app-header [userProfile]="userProfile"
              *ngIf="!userProfile"
              (toggleMenuSidebar)="toggleMenuSidebar()"></app-header>

  <app-menu-sidebar [userProfile]="userProfile"
                    (mainSidebarHeight)="mainSidebarHeight($event)">
  </app-menu-sidebar>

  <div #contentWrapper class="content-wrapper">
    <router-outlet></router-outlet>
  </div>

  <app-footer [userProfile]="userProfile"></app-footer>
  <aside class="control-sidebar control-sidebar-dark"></aside>
  <div (click)="toggleMenuSidebar()"></div>
</div>
